In [1]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np

In [2]:
training_labels = pd.read_csv('../Data/training_set_labels.csv')
training_values = pd.read_csv('../Data/training_set_values.csv')
test_values = pd.read_csv('../Data/test_set_values.csv')

In [3]:
training_labels['status_group'] = training_labels['status_group'].map({'non functional': 'non operational', 'functional': 'operational', 
                                     'functional needs repair': 'operational'})

In [4]:
df = training_values.merge(training_labels, on='id')

In [5]:
meta = df.isna().sum()
meta = meta.to_frame()
meta.reset_index(inplace=True)
meta.columns = ["feature", "nulls"]

In [6]:
meta

                  feature  nulls
0                      id      0
1              amount_tsh      0
2           date_recorded      0
3                  funder   3635
4              gps_height      0
5               installer   3655
6               longitude      0
7                latitude      0
8                wpt_name      0
9             num_private      0
10                  basin      0
11             subvillage    371
12                 region      0
13            region_code      0
14          district_code      0
15                    lga      0
16                   ward      0
17             population      0
18         public_meeting   3334
19            recorded_by      0
20      scheme_management   3877
21            scheme_name  28166
22                 permit   3056
23      construction_year      0
24        extraction_type      0
25  extraction_type_group      0
26  extraction_type_class      0
27             management      0
28       management_group      0
29                payment      0
30           payment_type      0
31          water_quality      0
32          quality_group      0
33               quantity      0
34         quantity_group      0
35                 source      0
36            source_type      0
37           source_class      0
38        waterpoint_type      0
39  waterpoint_type_group      0
40           status_group      0

In [7]:
df.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

In [8]:
df.drop("id", axis = 1,inplace=True)

In [24]:
def valuecounts(column):
    print(column)
    return df_small_small[column].value_counts()

In [10]:
for column in df.columns:
    print(valuecounts(column))

amount_tsh
0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64
date_recorded
2011-03-15    572
2011-03-17    558
2013-02-03    546
2011-03-14    520
2011-03-16    513
             ...
2013-01-06      1
2011-09-11      1
2004-04-01      1
2011-09-05      1
2012-01-25      1
Name: date_recorded, Length: 356, dtype: int64
funder
Government Of Tanzania         9084
Danida                         3114
Hesawa                         2202
Rwssp                          1374
World Bank                     1349
                               ...
Msikiti Masji                     1
Pentecost                         1
Afya Department Lindi Rural       1
Rv                                1
Ccpk                              1
Name: funder, Length: 1897, dtype: int64
gps_height
 0       20438
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64
installer
DWE                    17402
Government              1825
RWE                     1206
Commu                   1060
DANIDA                  1050
                       ...
VC                         1
Rusumo Game reserve        1
Luali Kaima                1
REGWA Company              1
IS                         1
Name: installer, Length: 2145, dtype: int64
longitude
0.000000     1812
37.540901       2
33.010510       2
39.093484       2
32.972719       2
             ...
37.579803       1
33.196490       1
34.017119       1
33.788326       1
30.163579       1
Name: longitude, Length: 57516, dtype: int64
latitude
-2.000000e-08    1812
-6.985842e+00       2
-3.797579e+00       2
-6.981884e+00       2
-7.104625e+00       2
                 ...
-5.726001e+00       1
-9.646831e+00       1
-8.124530e+00       1
-2.535985e+00       1
-2.598965e+00       1
Name: latitude, Length: 57517, dtype: int64
wpt_name
none                 3563
Shuleni              1748
Zahanati              830
Msikitini             535
Kanisani              323
                     ...
Anthony Daudi           1
Kwa Nzee Egini          1
Kwa Mzee Mputi          1
Kwa Mihambo Ndete       1
Kiwanda Wenyeji         1
Name: wpt_name, Length: 37400, dtype: int64
num_private
0      58643
6         81
1         73
5         46
8         46
       ...
180        1
213        1
23         1
55         1
94         1
Name: num_private, Length: 65, dtype: int64
basin
Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64
subvillage
Madukani      508
Shuleni       506
Majengo       502
Kati          373
Mtakuja       262
             ...
Shanwe          1
Isokolilo       1
Ngholong        1
Nyakazolo       1
Miswe Duka      1
Name: subvillage, Length: 19287, dtype: int64
region
Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64
region_code
11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64
district_code
1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64
lga
Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 125, dtype: int64
ward
Igosi        307
Imalinyi     252
Siha Kati    232
Mdandu       231
Nduruma      217
            ...
Mkumbi         1
Kirongo        1
Linda          1
Kapilula       1
Ukata          1
Name: ward, Length: 2092, dtype: int64
population
0       21381
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64
public_meeting
True     51011
False     5055
Name: public_meeting, dtype: int64
recorded_by
GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64
scheme_management
VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64
scheme_name
K                                 682
None                              644
Borehole                          546
Chalinze wate                     405
M                                 400
                                 ...
Ibukoni kimanga water supply        1
RC Water Supply                     1
Namahimba water gravity scheme      1
Iken                                1
Mese line                           1
Name: scheme_name, Length: 2696, dtype: int64
permit
True     38852
False    17492
Name: permit, dtype: int64
construction_year
0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64
extraction_type
gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64
extraction_type_group
gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64
extraction_type_class
gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64
management
vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64
management_group
user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64
payment
never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64
payment_type
never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64
water_quality
soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64
quality_group
good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64
quantity
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64
quantity_group
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64
source
spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64
source_type
spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64
source_class
groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64
waterpoint_type
communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7

Name: waterpoint_type, dtype: int64
waterpoint_type_group
communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64
status_group
operational        36576
non operational    22824
Name: status_group, dtype: int64

In [16]:
columns_to_drop = ["amount_tsh", "num_private", "recorded_by", "payment_type", "extraction_type", "extraction_type_group", 
                   "water_quality", "quantity_group"]
df_small = df.drop(columns_to_drop, axis = 1)

In [22]:
df_small_small = df_small.replace({0: None,'other': None,'none': None,'unknown' : None, -2.00E-08: None}).dropna()

In [25]:
for column in df_small_small.columns:
    print(valuecounts(column))

date_recorded
2013-03-20    198
2013-12-03    195
2013-02-19    186
2011-03-24    176
2013-03-19    175
             ...
2011-07-27      1
2013-12-01      1
2013-01-13      1
2004-04-01      1
2004-03-01      1
Name: date_recorded, Length: 211, dtype: int64
funder
Government Of Tanzania    2381
Unicef                     544
Germany Republi            478
Danida                     466
Norad                      404
                          ...
Sunamco                      1
Dmd                          1
One Un                       1
Peter                        1
Lips                         1
Name: funder, Length: 395, dtype: int64
gps_height
 1290.0    21
 1581.0    20
 1243.0    18
 1491.0    18
 1270.0    18
           ..
-63.0       1
 2361.0     1
 560.0      1
 2464.0     1
 2043.0     1
Name: gps_height, Length: 2158, dtype: int64
installer
DWE                        4142
CES                         478
Government                  401
RWE                         352
District council            284
                           ...
CHINA HENAN CONSTUCTION       1
OMARY MONA                    1
Government /TCRS              1
world banks                   1
D                             1
Name: installer, Length: 435, dtype: int64
longitude
37.543401    2
37.534327    2
37.543351    2
37.541579    2
37.530515    2
            ..
37.813824    1
37.943171    1
36.609314    1
37.177425    1
33.514027    1
Name: longitude, Length: 12417, dtype: int64
latitude
-6.963565    2
-6.956746    2
-6.957328    2
-6.965834    2
-6.958716    2
            ..
-8.466719    1
-4.136903    1
-8.967323    1
-3.254218    1
-8.114757    1
Name: latitude, Length: 12417, dtype: int64
wpt_name
Shuleni              311
Zahanati             143
Msikitini            111
Sokoni                92
Kanisani              72
                    ...
Kwa Hamisy Usufu       1
Maruhai                1
Kwa Chagiile           1
Kwa Nyanyile           1
Kwa Hadija Yusufu      1
Name: wpt_name, Length: 9578, dtype: int64
basin
Pangani                    4604
Rufiji                     2048
Internal                   1584
Lake Tanganyika            1363
Wami / Ruvu                1338
Ruvuma / Southern Coast     781
Lake Nyasa                  379
Lake Rukwa                  212
Lake Victoria               117
Name: basin, dtype: int64
subvillage
Kati                     183
Majengo                  131
Shuleni                  115
Madukani                  97
Marurani Kati             58
                        ...
Namasatu                   1
Mlalo                      1
Nduoni                     1
Jumbadimwe Kichangani      1
Mlevela                    1
Name: subvillage, Length: 4229, dtype: int64
region
Kilimanjaro    2907
Arusha         1598
Iringa         1397
Morogoro       1298
Kigoma         1195
Tanga           819
Manyara         679
Pwani           661
Ruvuma          538
Mtwara          500
Rukwa           374
Singida         248
Lindi           105
Mara            103
Mwanza            4
Name: region, dtype: int64
region_code
3     2907
11    1397
5     1298
2     1295
16    1195
4      819
21     679
6      635
10     538
15     374
24     303
9      288
13     248
99     203
20     103
80      98
60      26
90       9
8        7
19       4
Name: region_code, dtype: int64
district_code
4.0     2827
2.0     2736
1.0     2517
3.0     1782
5.0      996
6.0      609
7.0      523
30.0     303
53.0      65
13.0      23
43.0      20
33.0      17
62.0       7
23.0       1
Name: district_code, dtype: int64
lga
Njombe          1397
Arusha Rural     932
Moshi Rural      698
Kasulu           682
Same             619
                ...
Rorya              8
Nachingwea         7
Korogwe            7
Ukerewe            4
Songea Urban       1
Name: lga, Length: 62, dtype: int64
ward
Imalinyi       241
Siha Kati      230
Mdandu         226
Igosi          219
Usuka          183
              ...
Maneromango      1
Magengeni        1
Kibaoni          1
Itigi            1
Simbay           1
Name: ward, Length: 578, dtype: int64
population
1.0       2302
150.0      947
200.0      806
50.0       486
250.0      397
          ...
485.0        1
41.0         1
585.0        1
1450.0       1
317.0        1
Name: population, Length: 585, dtype: int64
public_meeting
True    12426
Name: public_meeting, dtype: int64
scheme_management
VWC                 6005
Water Board         1914
WUA                 1534
Water authority     1513
Company              871
WUG                  342
Parastatal           196
Private operator      47
Trust                  3
Other                  1
Name: scheme_management, dtype: int64
scheme_name
Borehole                       332
wanging'ombe water supply s    258
wanging'ombe supply scheme     232
Chalinze wate                  206
Bagamoyo wate                  189
                              ...
IKTM 3 water supply              1
Hale water supply                1
Oonjorai pipelines               1
BL Kandashi                      1
Samsria                          1
Name: scheme_name, Length: 1144, dtype: int64
permit
True    12426
Name: permit, dtype: int64
construction_year
2008.0    1063
2009.0     901
2010.0     661
1978.0     584
2003.0     570
1999.0     562
2006.0     527
2007.0     470
2002.0     459
2000.0     430
2011.0     423
1982.0     392
1998.0     358
2005.0     324
2012.0     302
2004.0     301
1985.0     279
1980.0     261
1995.0     255
1972.0     234
1990.0     220
2001.0     210
1984.0     194
1974.0     189
1994.0     168
1993.0     159
1975.0     158
1996.0     156
1988.0     143
1970.0     137
1983.0     137
1976.0     134
1992.0     129
1986.0     102
1981.0      94
1977.0      86
1997.0      85
1987.0      85
1973.0      61
1967.0      57
1989.0      54
2013.0      49
1991.0      48
1979.0      47
1971.0      41
1969.0      40
1960.0      27
1962.0      23
1968.0      16
1963.0      11
1961.0       5
1965.0       4
1964.0       1
Name: construction_year, dtype: int64
extraction_type_class
gravity         9964
submersible     1941
motorpump        381
handpump         135
wind-powered       5
Name: extraction_type_class, dtype: int64
management
vwc                 7292
water board         1999
wua                 1395
company              590
wug                  395
private operator     322
water authority      215
parastatal           208
trust                 10
Name: management, dtype: int64
management_group
user-group    11081
commercial     1137
parastatal      208
Name: management_group, dtype: int64
payment
pay monthly              4216
never pay                3424
pay per bucket           3352
pay when scheme fails     733
pay annually              701
Name: payment, dtype: int64
quality_group
good        12062
salty         265
fluoride       54
colored        36
milky           9
Name: quality_group, dtype: int64
quantity
enough          8236
insufficient    3170
dry              615
seasonal         405
Name: quantity, dtype: int64
source
spring                  5662
river                   4938
machine dbh             1528
rainwater harvesting     110
dam                       75
shallow well              69
lake                      41
hand dtw                   3
Name: source, dtype: int64
source_type
spring                  5662
river/lake              4979
borehole                1531
rainwater harvesting     110
dam                       75
shallow well              69
Name: source_type, dtype: int64
source_class
groundwater    7262
surface        5164
Name: source_class, dtype: int64
waterpoint_type
communal standpipe             10201
communal standpipe multiple     2031
hand pump                        145
cattle trough                     37
improved spring                   12
Name: waterpoint_type, dtype: int64
waterpoint_type_group
communal standpipe    12232
hand pump               145
cattle trough            37
improved spring          12
Name: waterpoint_type_group, dtype: int64
status_group
operational        9221
non operational    3205
Name: status_group, dtype: int64

In [ ]:
def unfill_nulls(data_frame, null_synonym_dict):
    for column in null_synonym_dict:
        datafram.column.replace()