In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import cross_validate, cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import precision_score, confusion_matrix, make_scorer

In [2]:
training_labels = pd.read_csv('../Data/training_set_labels.csv')
training_values = pd.read_csv('../Data/training_set_values.csv')
test_values = pd.read_csv('../Data/test_set_values.csv')

In [3]:
training_labels['status_group'] = training_labels['status_group'].map({'non functional': 'non operational', 'functional': 'operational', 
                                     'functional needs repair': 'operational'})

In [4]:
df = training_values.merge(training_labels, on='id')

In [5]:
df['status_group']

0            operational
1            operational
2            operational
3        non operational
4            operational
              ...
59395        operational
59396        operational
59397        operational
59398        operational
59399        operational
Name: status_group, Length: 59400, dtype: object

In [6]:
df.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'Country', 'status_group'],
      dtype='object')

In [7]:
df.drop("id", axis = 1,inplace=True)

In [8]:
def full_value_counts(df):
    for column in df.columns:
        print(column)
        print(df[column].value_counts())
        print()

In [9]:
full_value_counts(df)

amount_tsh
0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

date_recorded
3/15/2011    572
3/17/2011    558
2/3/2013     546
3/14/2011    520
3/16/2011    513
            ...
9/14/2011      1
9/27/2011      1
8/30/2011      1
7/1/2004       1
1/7/2004       1
Name: date_recorded, Length: 356, dtype: int64

funder
Government Of Tanzania    9084
Danida                    3114
Hesawa                    2202
Rwssp                     1374
World Bank                1349
                          ...
Rc Njoro                     1
Bhws                         1
Kilimarondo Parish           1
Mwalimu Omari                1
Norani                       1
Name: funder, Length: 1897, dtype: int64

gps_height
 0       20438
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

installer
DWE           17402
Government     1825
RWE            1206
Commu          1060
DANIDA         1050
              ...
Vodacom           1
BRA               1
Birage            1
Action Aid        1
Norani            1
Name: installer, Length: 2145, dtype: int64

longitude
0.000000     1812
37.534327       2
37.538602       2
37.318911       2
37.540901       2
             ...
34.672962       1
39.433604       1
35.901580       1
37.532216       1
33.292860       1
Name: longitude, Length: 57516, dtype: int64

latitude
-2.000000e-08    1812
-7.104625e+00       2
-2.494546e+00       2
-6.990147e+00       2
-6.978755e+00       2
                 ...
-7.698811e+00       1
-4.238133e+00       1
-3.145638e+00       1
-4.341816e+00       1
-2.598965e+00       1
Name: latitude, Length: 57517, dtype: int64

wpt_name
none                     3563
Shuleni                  1748
Zahanati                  830
Msikitini                 535
Kanisani                  323
                         ...
Kwa Mparale 3               1
Kobuhesi A                  1
Kwa Abeli Msigwa            1
Shule Ya Msingi Tunko       1
Kandoye                     1
Name: wpt_name, Length: 37400, dtype: int64

num_private
0      58643
6         81
1         73
5         46
8         46
       ...
180        1
213        1
23         1
55         1
94         1
Name: num_private, Length: 65, dtype: int64

basin
Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

subvillage
Madukani        508
Shuleni         506
Majengo         502
Kati            373
Mtakuja         262
               ...
Kyato 'A'         1
Kichangachui      1
Nyasalu           1
Kivuleni          1
Chona Center      1
Name: subvillage, Length: 19287, dtype: int64

region
Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

region_code
11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

district_code
1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

lga
Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 125, dtype: int64

ward
Igosi            307
Imalinyi         252
Siha Kati        232
Mdandu           231
Nduruma          217
                ...
Uchindile          1
Mkumbi             1
Nsemulwa           1
Mawenzi            1
Kihangimahuka      1
Name: ward, Length: 2092, dtype: int64

population
0       21381
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

public_meeting
True     51011
False     5055
Name: public_meeting, dtype: int64

recorded_by
GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

scheme_management
VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

scheme_name
K                             682
None                          644
Borehole                      546
Chalinze wate                 405
M                             400
                             ...
Kakerele  water s               1
Kiranjeranje  Water supply      1
Ofisini chini                   1
Mahunguru                       1
Njopeka Water Supply            1
Name: scheme_name, Length: 2696, dtype: int64

permit
True     38852
False    17492
Name: permit, dtype: int64

construction_year
0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

extraction_type
gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

extraction_type_group
gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

extraction_type_class
gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

management
vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

management_group
user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

payment
never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

payment_type
never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

water_quality
soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

quality_group
good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

quantity
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

quantity_group
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

source
spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66

Name: source, dtype: int64

source_type
spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

source_class
groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

waterpoint_type
communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

waterpoint_type_group
communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

Country
Tanzania    59400
Name: Country, dtype: int64

status_group
operational        36576
non operational    22824
Name: status_group, dtype: int64

In [10]:
columns_to_drop = ["amount_tsh", "num_private", "recorded_by", "payment_type", "extraction_type", "extraction_type_group", 
                   "water_quality", "quantity_group", "scheme_name"]
df_small = df.drop(columns_to_drop, axis = 1)

In [11]:
df_small_small = df_small.replace({'none': None,'unknown' : None, -2.00E-08: None, "0": None})
df_small_small["district_code"].replace({0: None}, inplace=True)
df_small_small["population"].replace({0: None}, inplace=True)
df_small_small["construction_year"].replace({0: None}, inplace=True)

In [12]:
for column in df_small_small.columns:
    print(column + ' : ', len(df_small_small[column].unique()))

date_recorded :  356
funder :  1898
gps_height :  2428
installer :  2145
longitude :  57516
latitude :  57517
wpt_name :  37400
basin :  9
subvillage :  19288
region :  21
region_code :  27
district_code :  20
lga :  125
ward :  2092
population :  1049
public_meeting :  3
scheme_management :  13
permit :  3
construction_year :  55
extraction_type_class :  7
management :  12
management_group :  5
payment :  7
quality_group :  6
quantity :  5
source :  10
source_type :  7
source_class :  3
waterpoint_type :  7
waterpoint_type_group :  6
Country :  1
status_group :  2

In [13]:
funder :  1859
gps_height :  2428
installer :  2113
longitude :  57515
latitude :  57516
wpt_name :  36720
basin :  9
subvillage :  18568

In [14]:
df_small_small.dropna(subset=['latitude'],inplace=True)

In [15]:
index_test = df_small_small['installer'].value_counts().reset_index().drop('installer', axis = 1).to_dict()['index']

In [16]:
def transform_columns(dataframe, columns):
    transformed_df = pd.DataFrame()
    key = {}
    for column in columns:
        unique_vals = dataframe[column].value_counts().index
        key[column] = dataframe[column].value_counts().reset_index().drop(column, axis = 1).to_dict()['index']
        string_to_numbers = dataframe[column].replace(to_replace=unique_vals, value=list(range(len(unique_vals))))
        transformed_df[column] = string_to_numbers
        
    return transformed_df, key

In [17]:
def revert_back_to_strings(df, key):
    for column in df.columns:
        if column not in ['date_recorded', 'gps_height', 'longitude', 'latitude', 'population', 'construction_year'] :
            df[column].replace(key[column], inplace = True)
    
    return df

In [18]:
# transformed_df, key = transform_columns(df_small_small, ['funder', 'installer', 'wpt_name', 'basin', 'subvillage', 'region', 
#                                                      'region_code', 'district_code', 'lga', 'ward', 'public_meeting', 
#                                                      'scheme_management', 'permit', 'extraction_type_class',
#                                                      'management', 'management_group', 'payment', 'quality_group', 
#                                                      'quantity', 'source', 'source_type', 'source_class','waterpoint_type',
#                                                      'waterpoint_type_group', 'status_group'])

In [19]:
# transformed_df['date_recorded'] = df_small_small['date_recorded']
# transformed_df['gps_height'] = df_small_small['gps_height']
# transformed_df['longitude'] = df_small_small['longitude']
# transformed_df['latitude'] = df_small_small['latitude']
# transformed_df['population'] = df_small_small['population']
# transformed_df['construction_year'] = df_small_small['construction_year']

In [20]:
# transformed_df.to_csv('transformed_df.csv')

In [21]:
transformed_df = pd.read_csv('transformed_df.csv', index_col=0)
transformed_df.columns

Index(['funder', 'installer', 'wpt_name', 'basin', 'subvillage', 'region',
       'region_code', 'district_code', 'lga', 'ward', 'public_meeting',
       'scheme_management', 'permit', 'extraction_type_class', 'management',
       'management_group', 'payment', 'quality_group', 'quantity', 'source',
       'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group', 'date_recorded', 'gps_height',
       'longitude', 'latitude', 'population', 'construction_year'],
      dtype='object')

In [22]:
X = transformed_df.drop('status_group', axis=1)
y = transformed_df['status_group']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33, test_size=0.3)

In [23]:
# imputed_df.rename(columns={'0': 'funder', '1': 'installer', '2': 'wpt_name', '3': 'basin', '4': 'subvillage',
#                                    '5': 'region', '6': 'region_code', '7': 'district_code', '8': 'lga', '9': 'ward',
#                                    '10': 'public_meeting', '11': 'scheme_management', '12': 'scheme_name', '13': 'permit',
#                                    '14': 'extraction_type_class', '15': 'management', '16': 'management_group', '17': 
#                                    'payment', '18': 'quality_group', '19': 'quantity', '20': 'source', '21': 'source_type',
#                                    '22': 'source_class', '23': 'waterpoint_type', '24': 'waterpoint_type_group', '25': 
#                                    'date_recorded', '26': 'gps_height', '27': 'longitude', '28': 'latitude', '29': 'population',
#                                    '30': 'construction_year'}, inplace=True)

In [24]:
# df = revert_back_to_strings(imputed_df[['date_recorded']], key)

In [25]:
X_train_imputed = pd.read_csv('X_train_imputed.csv', index_col=0)
X_test_imputed = pd.read_csv('X_test_imputed.csv', index_col=0)

In [26]:
X_imputed = pd.concat([X_train_imputed, X_test_imputed])
X_imputed

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,16.0,159.0,21423.0,5.0,25.0,12.0,11.0,4.0,68.0,328.0,...,2.0,0.0,3.0,0.0,2011.0,1998.387233,0.0,35.891855,-6.153545,330.710809
1,12.0,2.0,20170.0,4.0,17999.0,7.0,7.0,0.0,12.0,65.0,...,0.0,0.0,0.0,0.0,2013.0,1993.000000,1260.0,30.914468,-3.326810,530.000000
2,12.0,50.0,3491.0,8.0,8280.0,16.0,15.0,3.0,103.0,968.0,...,3.0,1.0,0.0,0.0,2013.0,1984.000000,2137.0,31.631254,-7.863417,750.000000
3,1.0,4.0,14465.0,6.0,10407.0,8.0,8.0,2.0,18.0,412.0,...,0.0,0.0,0.0,0.0,2013.0,1992.000000,462.0,34.831606,-11.319762,96.000000
4,0.0,0.0,10655.0,2.0,7213.0,3.0,3.0,3.0,27.0,475.0,...,1.0,0.0,1.0,1.0,2011.0,1976.000000,295.0,36.624641,-8.410004,400.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,1.0,0.0,33808.0,6.0,86.0,8.0,8.0,1.0,23.0,381.0,...,1.0,0.0,1.0,1.0,2013.0,1990.000000,981.0,35.662256,-10.363942,800.000000
17273,680.0,1943.0,22582.0,2.0,1458.0,3.0,3.0,0.0,4.0,96.0,...,3.0,1.0,0.0,0.0,2011.0,2008.000000,310.0,36.994441,-7.595949,150.000000
17274,63.0,540.0,1.0,5.0,2548.0,3.0,3.0,5.0,25.0,25.0,...,2.0,0.0,0.0,0.0,2011.0,2009.000000,394.0,37.442462,-6.301995,1.000000
17275,8.0,11.0,11407.0,0.0,3660.0,2.0,2.0,1.0,43.0,60.0,...,0.0,0.0,0.0,0.0,2013.0,2013.000000,917.0,37.597108,-3.701546,67.000000
17276,381.0,378.0,209.0,0.0,14768.0,10.0,9.0,1.0,57.0,1731.0,...,1.0,0.0,1.0,1.0,2011.0,2005.000000,0.0,38.524649,-5.221294,360.000000

# Decision Tree Model

In [27]:
X_train_imputed

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,16.0,159.0,21423.0,5.0,25.0,12.0,11.0,4.0,68.0,328.0,...,2.0,0.0,3.0,0.0,2011.0,1998.387233,0.0,35.891855,-6.153545,330.710809
1,12.0,2.0,20170.0,4.0,17999.0,7.0,7.0,0.0,12.0,65.0,...,0.0,0.0,0.0,0.0,2013.0,1993.000000,1260.0,30.914468,-3.326810,530.000000
2,12.0,50.0,3491.0,8.0,8280.0,16.0,15.0,3.0,103.0,968.0,...,3.0,1.0,0.0,0.0,2013.0,1984.000000,2137.0,31.631254,-7.863417,750.000000
3,1.0,4.0,14465.0,6.0,10407.0,8.0,8.0,2.0,18.0,412.0,...,0.0,0.0,0.0,0.0,2013.0,1992.000000,462.0,34.831606,-11.319762,96.000000
4,0.0,0.0,10655.0,2.0,7213.0,3.0,3.0,3.0,27.0,475.0,...,1.0,0.0,1.0,1.0,2011.0,1976.000000,295.0,36.624641,-8.410004,400.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40306,1352.0,0.0,35059.0,0.0,159.0,10.0,9.0,4.0,80.0,802.0,...,2.0,0.0,0.0,0.0,2011.0,1995.000000,52.0,38.973581,-5.375739,12.000000
40307,28.0,59.0,2.0,0.0,8.0,2.0,2.0,2.0,11.0,513.0,...,3.0,1.0,0.0,0.0,2013.0,2013.000000,500.0,38.078320,-4.480761,140.000000
40308,392.0,2.0,20502.0,5.0,2370.0,3.0,3.0,5.0,25.0,539.0,...,3.0,1.0,0.0,0.0,2011.0,1985.000000,520.0,37.560400,-6.917776,1.000000
40309,1.0,4.0,32490.0,2.0,214.0,8.0,8.0,4.0,21.0,681.0,...,3.0,1.0,3.0,0.0,2013.0,1982.000000,844.0,36.122400,-10.463274,250.000000
40310,31.0,55.0,29717.0,5.0,3414.0,9.0,19.0,11.0,36.0,13.0,...,1.0,0.0,1.0,1.0,2011.0,2008.000000,-12.0,39.365003,-7.073052,670.000000

In [28]:
tree = DecisionTreeClassifier(random_state=42)
tree.fit(X_train_imputed, y_train)

DecisionTreeClassifier(random_state=42)

In [29]:
tree.predict(X_test_imputed)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [30]:
#untuned score
precision_score(y_test, tree.predict(X_test_imputed))

0.7182398864442867

In [31]:
scorer  = make_scorer(precision_score, pos_label=0)

In [32]:
# hyperparameters to search over
parameters = {'max_depth': [36, 38, 40, 42, 44], 'min_samples_split': [2, 4, 6, 8], 'min_samples_leaf': [1, 2, 3, 4]}

# cross-validate to tune parameters
search = GridSearchCV(tree, parameters, cv=5, scoring = scorer)
search.fit(X_train_imputed, y_train)

#best parameters and associated score 
print("Best hyperparameters:", search.best_params_)
print("Best score:", search.best_score_)

KeyboardInterrupt:

In [33]:
#Tree with tuned parameters
tuned_tree = DecisionTreeClassifier(random_state=42, min_samples_leaf = 1, min_samples_split = 6)
tuned_tree.fit(X_train_imputed, y_train)

DecisionTreeClassifier(min_samples_split=6, random_state=42)

In [34]:
tuned_tree.get_depth()

37

In [35]:
scores = cross_val_score(tuned_tree, X_train_imputed, y_train, cv=5, scoring = scorer)
scores

array([0.82460317, 0.83474235, 0.83149227, 0.82223978, 0.83246701])

In [36]:
precision_score(y_train, tuned_tree.predict(X_train_imputed), pos_label=0)

0.9679372286613295

In [37]:
precision_score(y_test, tuned_tree.predict(X_test_imputed), pos_label=0)

0.8366537717601548

In [39]:
importance = tuned_tree.feature_importances_
# summarize feature importance
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

Feature: 0, Score: 0.02489
Feature: 1, Score: 0.02864
Feature: 2, Score: 0.05383
Feature: 3, Score: 0.00473
Feature: 4, Score: 0.05456
Feature: 5, Score: 0.00862
Feature: 6, Score: 0.00391
Feature: 7, Score: 0.01062
Feature: 8, Score: 0.02454
Feature: 9, Score: 0.04011
Feature: 10, Score: 0.00234
Feature: 11, Score: 0.00748
Feature: 12, Score: 0.00404
Feature: 13, Score: 0.02556
Feature: 14, Score: 0.01566
Feature: 15, Score: 0.00314
Feature: 16, Score: 0.02518
Feature: 17, Score: 0.00552
Feature: 18, Score: 0.18820
Feature: 19, Score: 0.01636
Feature: 20, Score: 0.00919
Feature: 21, Score: 0.00135
Feature: 22, Score: 0.09179
Feature: 23, Score: 0.00916
Feature: 24, Score: 0.00191
Feature: 25, Score: 0.06466
Feature: 26, Score: 0.04415
Feature: 27, Score: 0.09062
Feature: 28, Score: 0.09800
Feature: 29, Score: 0.04123

NameError: name 'pyplot' is not defined

In [ ]:
X_train_imputed.shape

In [ ]:
X_test_imputed.shape

In [ ]:
confusion_matrix(y_test, tuned_tree.predict(X_test_imputed),labels = [1,0])

In [ ]:
f, ax = plt.subplots(figsize=(15, 10))
plot_tree(tuned_tree, ax=ax, max_depth = 1);

In [ ]:
tuned_tree.classes_

In [ ]:
y_train.value_counts()

In [ ]:
y_test.value_counts()

In [ ]:
X_test_imputed = pd.read_csv('X_test_imputed.csv', index_col=0)

In [ ]:
X_train_imputed = pd.read_csv('X_train_imputed.csv', index_col=0)

In [ ]:
X_train_imputed.rename(columns={'0': 'funder', '1': 'installer', '2': 'wpt_name', '3': 'basin', '4': 'subvillage',
                                  '5': 'region', '6': 'region_code', '7': 'district_code', '8': 'lga', '9': 'ward',
                                  '10': 'public_meeting', '11': 'scheme_management', '12': 'permit',
                                  '13': 'extraction_type_class', '14': 'management', '15': 'management_group', '16': 
                                  'payment', '17': 'quality_group', '18': 'quantity', '19': 'source', '20': 'source_type',
                                  '21': 'source_class', '22': 'waterpoint_type', '23': 'waterpoint_type_group', '24': 
                                  'date_recorded', '25': 'gps_height', '26': 'longitude', '27': 'latitude', '28': 'population',
                                  '29': 'construction_year'}, inplace=True)

In [ ]:
X_test_imputed.rename(columns={'0': 'funder', '1': 'installer', '2': 'wpt_name', '3': 'basin', '4': 'subvillage',
                                  '5': 'region', '6': 'region_code', '7': 'district_code', '8': 'lga', '9': 'ward',
                                  '10': 'public_meeting', '11': 'scheme_management', '12': 'permit',
                                  '13': 'extraction_type_class', '14': 'management', '15': 'management_group', '16': 
                                  'payment', '17': 'quality_group', '18': 'quantity', '19': 'source', '20': 'source_type',
                                  '21': 'source_class', '22': 'waterpoint_type', '23': 'waterpoint_type_group', '24': 
                                  'date_recorded', '25': 'gps_height', '26': 'longitude', '27': 'latitude', '28': 'population',
                                  '29': 'construction_year'}, inplace=True)

In [ ]:
def revert_back_to_strings(df, columns):
    #Creates a copy of the DataFrame so it isn't overwriting the original
    df_copy = df.copy()
    
    #looping through all columns given and changes the number back to the string it represents based off a dictionary zipped
    #from one list of the .value_counts() from df_small_small and another list that creates an index of the first
    for col in columns:
        column_vc = list(df_small_small[col].value_counts().index)
        column_rank = list(range(len(column_vc)))
    
        column_vc_rank = dict(zip(column_rank, column_vc))
    
        df_copy[col] = df_copy[col].replace(column_vc_rank)
    
    return df_copy

In [ ]:
#Creating a list of all column names in X_train_imputed
revert_columns = list(X_train_imputed.columns)
#Only taking the categorical columns from that list
revert_columns = revert_columns[:24]

In [ ]:
X_train_imputed = revert_back_to_strings(X_train_imputed, revert_columns)
X_train_imputed

In [ ]:
X_test_imputed = revert_back_to_strings(X_test_imputed, revert_columns)
X_test_imputed

In [ ]:
X_train_imputed.drop()
X_test_imputed

In [ ]:
precision_score(y_train, tuned_tree.predict(X_train_imputed), pos_label=0)