# JF Working 2 -  DO NOT RUN FROM THE TOP

In [5]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np
import seaborn as sns
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split

df = pd.read_csv('working_df.csv', index_col=0)

In [6]:
df

,funder,installer,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,...,source_class,waterpoint_type,waterpoint_type_group,status_group,date_recorded,gps_height,longitude,latitude,population,construction_year
0,33.0,87.0,NaN,6,1877.0,0,0,4.0,35,531,...,0.0,0.0,0.0,0,2011,1390,34.938093,-9.856322,109.0,1999.0
1,133.0,160.0,1.0,1,2382.0,14,14,1.0,20,131,...,1.0,0.0,0.0,0,2013,1399,34.698766,-2.147466,280.0,2010.0
2,450.0,15.0,1374.0,0,0.0,18,17,3.0,79,1497,...,1.0,2.0,0.0,0,2013,686,37.460664,-3.821329,250.0,2009.0
3,7.0,32.0,29483.0,7,253.0,17,20,14.0,108,634,...,0.0,2.0,0.0,1,2013,263,38.486161,-11.155298,58.0,1986.0
4,1057.0,58.0,0.0,1,8810.0,6,5,0.0,17,1373,...,1.0,0.0,0.0,0,2011,0,31.130847,-1.825359,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,13.0,9.0,33426.0,0,3259.0,2,2,4.0,31,31,...,0.0,0.0,0.0,0,2013,1210,37.169807,-3.253847,125.0,1999.0
59396,248.0,303.0,7490.0,2,345.0,0,0,3.0,0,271,...,1.0,0.0,0.0,0,2011,1212,35.249991,-9.070629,56.0,1996.0
59397,NaN,NaN,142.0,2,6611.0,1,1,6.0,30,70,...,0.0,1.0,1.0,0,2011,0,34.017087,-8.750434,NaN,NaN
59398,710.0,573.0,23415.0,2,159.0,12,11,3.0,71,852,...,0.0,1.0,1.0,0,2011,0,35.861315,-6.378573,NaN,NaN
59399,3.0,67.0,6289.0,5,10747.0,3,3,1.0,41,196,...,0.0,1.0,1.0,0,2011,191,38.104048,-6.747464,150.0,2002.0

In [4]:
df['date_recorded'].value_counts()

2011    28108
2013    23481
2012     5968
2004       30
2002        1
Name: date_recorded, dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57588 entries, 0 to 59399
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 53189 non-null  float64
 1   installer              53174 non-null  float64
 2   wpt_name               54096 non-null  float64
 3   basin                  57588 non-null  int64
 4   subvillage             57217 non-null  float64
 5   region                 57588 non-null  int64
 6   region_code            57588 non-null  int64
 7   district_code          57565 non-null  float64
 8   lga                    57588 non-null  int64
 9   ward                   57588 non-null  int64
 10  public_meeting         54612 non-null  float64
 11  scheme_management      53838 non-null  float64
 12  permit                 54532 non-null  float64
 13  extraction_type_class  51428 non-null  float64
 14  management             56197 non-null  float64
 15  management_group       56098 non-null  float64
 16  payment                49031 non-null  float64
 17  quality_group          55927 non-null  float64
 18  quantity               56815 non-null  float64
 19  source                 57322 non-null  float64
 20  source_type            57322 non-null  float64
 21  source_class           57322 non-null  float64
 22  waterpoint_type        51421 non-null  float64
 23  waterpoint_type_group  51421 non-null  float64
 24  status_group           57588 non-null  int64
 25  date_recorded          57588 non-null  int64
 26  gps_height             57588 non-null  int64
 27  longitude              57588 non-null  float64
 28  latitude               57588 non-null  float64
 29  population             38019 non-null  float64
 30  construction_year      38691 non-null  float64
dtypes: float64(23), int64(8)
memory usage: 14.1 MB

# Train/Test Split

In [72]:
X = df.drop('status_group', axis=1)
y = df['status_group']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33, test_size=0.3)

# Imputing X_train & X_test

In [10]:
from missingpy import MissForest

/Users/jf/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [11]:
imputer = MissForest(random_state=33, max_depth=1)

In [7]:
X_train_i = imputer.fit(X_train, cat_vars=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 
                                                 21, 22, 23, 24])
X_train_i = imputer.transform(X_train)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [8]:
X_test_i = imputer.transform(X_test)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [73]:
X_train_i

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,16.0,159.0,10914.0,5.0,25.0,12.0,11.0,4.0,68.0,331.0,...,2.0,0.0,2.0,0.0,2011.0,0.0,35.891855,-6.153545,330.952508,1998.387233
1,12.0,2.0,22561.0,4.0,16380.0,7.0,7.0,0.0,12.0,66.0,...,0.0,0.0,0.0,0.0,2013.0,1260.0,30.914468,-3.326810,530.000000,1993.000000
2,12.0,50.0,4266.0,8.0,8951.0,16.0,15.0,3.0,103.0,1003.0,...,3.0,1.0,0.0,0.0,2013.0,2137.0,31.631254,-7.863417,750.000000,1984.000000
3,1.0,4.0,7719.0,6.0,16557.0,8.0,8.0,2.0,18.0,421.0,...,0.0,0.0,0.0,0.0,2013.0,462.0,34.831606,-11.319762,96.000000,1992.000000
4,0.0,0.0,26690.0,2.0,6903.0,3.0,3.0,3.0,27.0,473.0,...,1.0,0.0,1.0,1.0,2011.0,295.0,36.624641,-8.410004,400.000000,1976.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40306,1198.0,0.0,14653.0,0.0,157.0,10.0,9.0,4.0,80.0,819.0,...,2.0,0.0,0.0,0.0,2011.0,52.0,38.973581,-5.375739,12.000000,1995.000000
40307,28.0,59.0,2.0,0.0,8.0,2.0,2.0,2.0,11.0,518.0,...,3.0,1.0,0.0,0.0,2013.0,500.0,38.078320,-4.480761,140.000000,2013.000000
40308,395.0,2.0,26850.0,5.0,2428.0,3.0,3.0,5.0,25.0,539.0,...,3.0,1.0,0.0,0.0,2011.0,520.0,37.560400,-6.917776,1.000000,1985.000000
40309,1.0,4.0,28238.0,2.0,210.0,8.0,8.0,4.0,21.0,673.0,...,3.0,1.0,2.0,0.0,2013.0,844.0,36.122400,-10.463274,250.000000,1982.000000
40310,31.0,54.0,18983.0,5.0,3661.0,9.0,19.0,11.0,36.0,13.0,...,1.0,0.0,1.0,1.0,2011.0,-12.0,39.365003,-7.073052,670.000000,2008.000000

In [74]:
X_train_i_df = pd.DataFrame(X_train_i)
X_train_i_df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,16.0,159.0,10914.0,5.0,25.0,12.0,11.0,4.0,68.0,331.0,...,2.0,0.0,2.0,0.0,2011.0,0.0,35.891855,-6.153545,330.952508,1998.387233
1,12.0,2.0,22561.0,4.0,16380.0,7.0,7.0,0.0,12.0,66.0,...,0.0,0.0,0.0,0.0,2013.0,1260.0,30.914468,-3.326810,530.000000,1993.000000
2,12.0,50.0,4266.0,8.0,8951.0,16.0,15.0,3.0,103.0,1003.0,...,3.0,1.0,0.0,0.0,2013.0,2137.0,31.631254,-7.863417,750.000000,1984.000000
3,1.0,4.0,7719.0,6.0,16557.0,8.0,8.0,2.0,18.0,421.0,...,0.0,0.0,0.0,0.0,2013.0,462.0,34.831606,-11.319762,96.000000,1992.000000
4,0.0,0.0,26690.0,2.0,6903.0,3.0,3.0,3.0,27.0,473.0,...,1.0,0.0,1.0,1.0,2011.0,295.0,36.624641,-8.410004,400.000000,1976.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40306,1198.0,0.0,14653.0,0.0,157.0,10.0,9.0,4.0,80.0,819.0,...,2.0,0.0,0.0,0.0,2011.0,52.0,38.973581,-5.375739,12.000000,1995.000000
40307,28.0,59.0,2.0,0.0,8.0,2.0,2.0,2.0,11.0,518.0,...,3.0,1.0,0.0,0.0,2013.0,500.0,38.078320,-4.480761,140.000000,2013.000000
40308,395.0,2.0,26850.0,5.0,2428.0,3.0,3.0,5.0,25.0,539.0,...,3.0,1.0,0.0,0.0,2011.0,520.0,37.560400,-6.917776,1.000000,1985.000000
40309,1.0,4.0,28238.0,2.0,210.0,8.0,8.0,4.0,21.0,673.0,...,3.0,1.0,2.0,0.0,2013.0,844.0,36.122400,-10.463274,250.000000,1982.000000
40310,31.0,54.0,18983.0,5.0,3661.0,9.0,19.0,11.0,36.0,13.0,...,1.0,0.0,1.0,1.0,2011.0,-12.0,39.365003,-7.073052,670.000000,2008.000000

In [13]:
X_train_i_df.to_csv('X_train_imputed.csv')

In [75]:
X_test_i

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.0,0.0,30418.0,6.0,386.0,1.0,1.0,3.0,3.0,120.0,...,0.0,0.0,0.0,0.0,2011.0,0.0,33.624613,-9.216957,329.925974,1991.243283
1,108.0,0.0,36569.0,2.0,3509.0,3.0,3.0,3.0,27.0,19.0,...,3.0,1.0,0.0,0.0,2011.0,331.0,36.414944,-8.654660,280.000000,2006.000000
2,45.0,34.0,9332.0,0.0,2590.0,2.0,2.0,0.0,32.0,492.0,...,0.0,0.0,0.0,0.0,2013.0,1012.0,37.664298,-3.268569,1.000000,2012.000000
3,49.0,85.0,25520.0,4.0,1318.0,7.0,7.0,1.0,5.0,87.0,...,1.0,0.0,1.0,1.0,2013.0,1731.0,29.783005,-4.439251,450.000000,1995.000000
4,18.0,0.0,57.0,1.0,10878.0,4.0,4.0,1.0,16.0,376.0,...,1.0,0.0,1.0,1.0,2012.0,0.0,33.586406,-3.040369,408.622687,1998.090157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,1.0,0.0,21782.0,6.0,86.0,8.0,8.0,1.0,23.0,384.0,...,1.0,0.0,1.0,1.0,2013.0,981.0,35.662256,-10.363942,800.000000,1990.000000
17273,689.0,2037.0,17723.0,2.0,1730.0,3.0,3.0,0.0,4.0,95.0,...,3.0,1.0,0.0,0.0,2011.0,310.0,36.994441,-7.595949,150.000000,2008.000000
17274,63.0,506.0,1.0,5.0,2572.0,3.0,3.0,5.0,25.0,25.0,...,2.0,0.0,0.0,0.0,2011.0,394.0,37.442462,-6.301995,1.000000,2009.000000
17275,8.0,11.0,16592.0,0.0,3389.0,2.0,2.0,1.0,43.0,59.0,...,0.0,0.0,0.0,0.0,2013.0,917.0,37.597108,-3.701546,67.000000,2013.000000
17276,377.0,384.0,203.0,0.0,13121.0,10.0,9.0,1.0,57.0,1749.0,...,1.0,0.0,1.0,1.0,2011.0,0.0,38.524649,-5.221294,360.000000,2005.000000

In [12]:
X_test_i_df = pd.DataFrame(X_test_i)
X_test_i_df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.0,0.0,30418.0,6.0,386.0,1.0,1.0,3.0,3.0,120.0,...,0.0,0.0,0.0,0.0,2011.0,0.0,33.624613,-9.216957,329.925974,1991.243283
1,108.0,0.0,36569.0,2.0,3509.0,3.0,3.0,3.0,27.0,19.0,...,3.0,1.0,0.0,0.0,2011.0,331.0,36.414944,-8.654660,280.000000,2006.000000
2,45.0,34.0,9332.0,0.0,2590.0,2.0,2.0,0.0,32.0,492.0,...,0.0,0.0,0.0,0.0,2013.0,1012.0,37.664298,-3.268569,1.000000,2012.000000
3,49.0,85.0,25520.0,4.0,1318.0,7.0,7.0,1.0,5.0,87.0,...,1.0,0.0,1.0,1.0,2013.0,1731.0,29.783005,-4.439251,450.000000,1995.000000
4,18.0,0.0,57.0,1.0,10878.0,4.0,4.0,1.0,16.0,376.0,...,1.0,0.0,1.0,1.0,2012.0,0.0,33.586406,-3.040369,408.622687,1998.090157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,1.0,0.0,21782.0,6.0,86.0,8.0,8.0,1.0,23.0,384.0,...,1.0,0.0,1.0,1.0,2013.0,981.0,35.662256,-10.363942,800.000000,1990.000000
17273,689.0,2037.0,17723.0,2.0,1730.0,3.0,3.0,0.0,4.0,95.0,...,3.0,1.0,0.0,0.0,2011.0,310.0,36.994441,-7.595949,150.000000,2008.000000
17274,63.0,506.0,1.0,5.0,2572.0,3.0,3.0,5.0,25.0,25.0,...,2.0,0.0,0.0,0.0,2011.0,394.0,37.442462,-6.301995,1.000000,2009.000000
17275,8.0,11.0,16592.0,0.0,3389.0,2.0,2.0,1.0,43.0,59.0,...,0.0,0.0,0.0,0.0,2013.0,917.0,37.597108,-3.701546,67.000000,2013.000000
17276,377.0,384.0,203.0,0.0,13121.0,10.0,9.0,1.0,57.0,1749.0,...,1.0,0.0,1.0,1.0,2011.0,0.0,38.524649,-5.221294,360.000000,2005.000000

In [14]:
X_test_i_df.to_csv('X_test_imputed.csv')

# START HERE

In [87]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np
import seaborn as sns
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split

df = pd.read_csv('working_df.csv', index_col=0)
df

,funder,installer,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,...,source_class,waterpoint_type,waterpoint_type_group,status_group,date_recorded,gps_height,longitude,latitude,population,construction_year
0,33.0,87.0,NaN,6,1877.0,0,0,4.0,35,531,...,0.0,0.0,0.0,0,2011,1390,34.938093,-9.856322,109.0,1999.0
1,133.0,160.0,1.0,1,2382.0,14,14,1.0,20,131,...,1.0,0.0,0.0,0,2013,1399,34.698766,-2.147466,280.0,2010.0
2,450.0,15.0,1374.0,0,0.0,18,17,3.0,79,1497,...,1.0,2.0,0.0,0,2013,686,37.460664,-3.821329,250.0,2009.0
3,7.0,32.0,29483.0,7,253.0,17,20,14.0,108,634,...,0.0,2.0,0.0,1,2013,263,38.486161,-11.155298,58.0,1986.0
4,1057.0,58.0,0.0,1,8810.0,6,5,0.0,17,1373,...,1.0,0.0,0.0,0,2011,0,31.130847,-1.825359,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,13.0,9.0,33426.0,0,3259.0,2,2,4.0,31,31,...,0.0,0.0,0.0,0,2013,1210,37.169807,-3.253847,125.0,1999.0
59396,248.0,303.0,7490.0,2,345.0,0,0,3.0,0,271,...,1.0,0.0,0.0,0,2011,1212,35.249991,-9.070629,56.0,1996.0
59397,NaN,NaN,142.0,2,6611.0,1,1,6.0,30,70,...,0.0,1.0,1.0,0,2011,0,34.017087,-8.750434,NaN,NaN
59398,710.0,573.0,23415.0,2,159.0,12,11,3.0,71,852,...,0.0,1.0,1.0,0,2011,0,35.861315,-6.378573,NaN,NaN
59399,3.0,67.0,6289.0,5,10747.0,3,3,1.0,41,196,...,0.0,1.0,1.0,0,2011,191,38.104048,-6.747464,150.0,2002.0

In [85]:
df_new = df.drop(['wpt_name', 'installer', 'funder', 'subvillage'], axis=1)
df_new

,basin,region,region_code,district_code,lga,ward,public_meeting,scheme_management,permit,extraction_type_class,...,source_class,waterpoint_type,waterpoint_type_group,status_group,date_recorded,gps_height,longitude,latitude,population,construction_year
0,6,0,0,4.0,35,531,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0,2011,1390,34.938093,-9.856322,109.0,1999.0
1,1,14,14,1.0,20,131,NaN,8.0,0.0,0.0,...,1.0,0.0,0.0,0,2013,1399,34.698766,-2.147466,280.0,2010.0
2,0,18,17,3.0,79,1497,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,0,2013,686,37.460664,-3.821329,250.0,2009.0
3,7,17,20,14.0,108,634,0.0,0.0,0.0,2.0,...,0.0,2.0,0.0,1,2013,263,38.486161,-11.155298,58.0,1986.0
4,1,6,5,0.0,17,1373,0.0,NaN,0.0,0.0,...,1.0,0.0,0.0,0,2011,0,31.130847,-1.825359,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,0,2,2,4.0,31,31,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0,2013,1210,37.169807,-3.253847,125.0,1999.0
59396,2,0,0,3.0,0,271,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0,2011,1212,35.249991,-9.070629,56.0,1996.0
59397,2,1,1,6.0,30,70,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,0,2011,0,34.017087,-8.750434,NaN,NaN
59398,2,12,11,3.0,71,852,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0,2011,0,35.861315,-6.378573,NaN,NaN
59399,5,3,3,1.0,41,196,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0,2011,191,38.104048,-6.747464,150.0,2002.0

# Train/Test Split

In [76]:
X = df.drop('status_group', axis=1)
y = df['status_group']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33, test_size=0.3)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57588 entries, 0 to 59399
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 53189 non-null  float64
 1   installer              53174 non-null  float64
 2   wpt_name               54096 non-null  float64
 3   basin                  57588 non-null  int64
 4   subvillage             57217 non-null  float64
 5   region                 57588 non-null  int64
 6   region_code            57588 non-null  int64
 7   district_code          57565 non-null  float64
 8   lga                    57588 non-null  int64
 9   ward                   57588 non-null  int64
 10  public_meeting         54612 non-null  float64
 11  scheme_management      53838 non-null  float64
 12  permit                 54532 non-null  float64
 13  extraction_type_class  51428 non-null  float64
 14  management             56197 non-null  float64
 15  management_group       56098 non-null  float64
 16  payment                49031 non-null  float64
 17  quality_group          55927 non-null  float64
 18  quantity               56815 non-null  float64
 19  source                 57322 non-null  float64
 20  source_type            57322 non-null  float64
 21  source_class           57322 non-null  float64
 22  waterpoint_type        51421 non-null  float64
 23  waterpoint_type_group  51421 non-null  float64
 24  status_group           57588 non-null  int64
 25  date_recorded          57588 non-null  int64
 26  gps_height             57588 non-null  int64
 27  longitude              57588 non-null  float64
 28  latitude               57588 non-null  float64
 29  population             38019 non-null  float64
 30  construction_year      38691 non-null  float64
dtypes: float64(23), int64(8)
memory usage: 14.1 MB

### Read in inputed X train and test

In [193]:
X_train_i = pd.read_csv('X_train_imputed.csv', index_col=0)
X_test_i = pd.read_csv('X_test_imputed.csv', index_col=0)

In [166]:
X_train_i

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,16.0,159.0,10914.0,5.0,25.0,12.0,11.0,4.0,68.0,331.0,...,2.0,0.0,2.0,0.0,2011.0,0.0,35.891855,-6.153545,330.952508,1998.387233
1,12.0,2.0,22561.0,4.0,16380.0,7.0,7.0,0.0,12.0,66.0,...,0.0,0.0,0.0,0.0,2013.0,1260.0,30.914468,-3.326810,530.000000,1993.000000
2,12.0,50.0,4266.0,8.0,8951.0,16.0,15.0,3.0,103.0,1003.0,...,3.0,1.0,0.0,0.0,2013.0,2137.0,31.631254,-7.863417,750.000000,1984.000000
3,1.0,4.0,7719.0,6.0,16557.0,8.0,8.0,2.0,18.0,421.0,...,0.0,0.0,0.0,0.0,2013.0,462.0,34.831606,-11.319762,96.000000,1992.000000
4,0.0,0.0,26690.0,2.0,6903.0,3.0,3.0,3.0,27.0,473.0,...,1.0,0.0,1.0,1.0,2011.0,295.0,36.624641,-8.410004,400.000000,1976.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40306,1198.0,0.0,14653.0,0.0,157.0,10.0,9.0,4.0,80.0,819.0,...,2.0,0.0,0.0,0.0,2011.0,52.0,38.973581,-5.375739,12.000000,1995.000000
40307,28.0,59.0,2.0,0.0,8.0,2.0,2.0,2.0,11.0,518.0,...,3.0,1.0,0.0,0.0,2013.0,500.0,38.078320,-4.480761,140.000000,2013.000000
40308,395.0,2.0,26850.0,5.0,2428.0,3.0,3.0,5.0,25.0,539.0,...,3.0,1.0,0.0,0.0,2011.0,520.0,37.560400,-6.917776,1.000000,1985.000000
40309,1.0,4.0,28238.0,2.0,210.0,8.0,8.0,4.0,21.0,673.0,...,3.0,1.0,2.0,0.0,2013.0,844.0,36.122400,-10.463274,250.000000,1982.000000
40310,31.0,54.0,18983.0,5.0,3661.0,9.0,19.0,11.0,36.0,13.0,...,1.0,0.0,1.0,1.0,2011.0,-12.0,39.365003,-7.073052,670.000000,2008.000000

In [167]:
X_test_i = X_test_i.drop(['0', '1', '2', '4', '9', '25'], axis=1)

In [168]:
X_test_i

,3,5,6,7,8,10,11,12,13,14,...,19,20,21,22,23,24,26,27,28,29
0,6.0,1.0,1.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2011.0,33.624613,-9.216957,329.925974,1991.243283
1,2.0,3.0,3.0,3.0,27.0,0.0,4.0,0.0,0.0,1.0,...,3.0,3.0,1.0,0.0,0.0,2011.0,36.414944,-8.654660,280.000000,2006.000000
2,0.0,2.0,2.0,0.0,32.0,0.0,7.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,37.664298,-3.268569,1.000000,2012.000000
3,4.0,7.0,7.0,1.0,5.0,0.0,2.0,1.0,1.0,0.0,...,1.0,1.0,0.0,1.0,1.0,2013.0,29.783005,-4.439251,450.000000,1995.000000
4,1.0,4.0,4.0,1.0,16.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,1.0,1.0,2012.0,33.586406,-3.040369,408.622687,1998.090157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,6.0,8.0,8.0,1.0,23.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,1.0,1.0,2013.0,35.662256,-10.363942,800.000000,1990.000000
17273,2.0,3.0,3.0,0.0,4.0,0.0,7.0,0.0,0.0,7.0,...,3.0,3.0,1.0,0.0,0.0,2011.0,36.994441,-7.595949,150.000000,2008.000000
17274,5.0,3.0,3.0,5.0,25.0,1.0,6.0,0.0,2.0,4.0,...,2.0,2.0,0.0,0.0,0.0,2011.0,37.442462,-6.301995,1.000000,2009.000000
17275,0.0,2.0,2.0,1.0,43.0,0.0,4.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,37.597108,-3.701546,67.000000,2013.000000
17276,0.0,10.0,9.0,1.0,57.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,1.0,1.0,2011.0,38.524649,-5.221294,360.000000,2005.000000

In [169]:
X_train_i = X_train_i.drop(['0', '1', '2', '4', '9', '25'], axis=1)

In [170]:
X_train_i

,3,5,6,7,8,10,11,12,13,14,...,19,20,21,22,23,24,26,27,28,29
0,5.0,12.0,11.0,4.0,68.0,0.0,0.0,1.0,3.0,0.0,...,2.0,2.0,0.0,2.0,0.0,2011.0,35.891855,-6.153545,330.952508,1998.387233
1,4.0,7.0,7.0,0.0,12.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,30.914468,-3.326810,530.000000,1993.000000
2,8.0,16.0,15.0,3.0,103.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,1.0,0.0,0.0,2013.0,31.631254,-7.863417,750.000000,1984.000000
3,6.0,8.0,8.0,2.0,18.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2013.0,34.831606,-11.319762,96.000000,1992.000000
4,2.0,3.0,3.0,3.0,27.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,1.0,1.0,2011.0,36.624641,-8.410004,400.000000,1976.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40306,0.0,10.0,9.0,4.0,80.0,1.0,0.0,1.0,2.0,0.0,...,2.0,2.0,0.0,0.0,0.0,2011.0,38.973581,-5.375739,12.000000,1995.000000
40307,0.0,2.0,2.0,2.0,11.0,0.0,2.0,0.0,0.0,0.0,...,3.0,3.0,1.0,0.0,0.0,2013.0,38.078320,-4.480761,140.000000,2013.000000
40308,5.0,3.0,3.0,5.0,25.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,1.0,0.0,0.0,2011.0,37.560400,-6.917776,1.000000,1985.000000
40309,2.0,8.0,8.0,4.0,21.0,0.0,3.0,0.0,0.0,0.0,...,3.0,3.0,1.0,2.0,0.0,2013.0,36.122400,-10.463274,250.000000,1982.000000
40310,5.0,9.0,19.0,11.0,36.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,1.0,1.0,2011.0,39.365003,-7.073052,670.000000,2008.000000

### One hot encoder

In [171]:
from sklearn.preprocessing import OneHotEncoder

In [172]:
X_train_i_num = X_train_i[['26', '27', '28', '29']]
X_train_i_num

              26         27          28           29
0      35.891855  -6.153545  330.952508  1998.387233
1      30.914468  -3.326810  530.000000  1993.000000
2      31.631254  -7.863417  750.000000  1984.000000
3      34.831606 -11.319762   96.000000  1992.000000
4      36.624641  -8.410004  400.000000  1976.000000
...          ...        ...         ...          ...
40306  38.973581  -5.375739   12.000000  1995.000000
40307  38.078320  -4.480761  140.000000  2013.000000
40308  37.560400  -6.917776    1.000000  1985.000000
40309  36.122400 -10.463274  250.000000  1982.000000
40310  39.365003  -7.073052  670.000000  2008.000000

[40311 rows x 4 columns]

In [173]:
X_test_i_num = X_test_i[['26', '27', '28', '29']]
X_test_i_num

              26         27          28           29
0      33.624613  -9.216957  329.925974  1991.243283
1      36.414944  -8.654660  280.000000  2006.000000
2      37.664298  -3.268569    1.000000  2012.000000
3      29.783005  -4.439251  450.000000  1995.000000
4      33.586406  -3.040369  408.622687  1998.090157
...          ...        ...         ...          ...
17272  35.662256 -10.363942  800.000000  1990.000000
17273  36.994441  -7.595949  150.000000  2008.000000
17274  37.442462  -6.301995    1.000000  2009.000000
17275  37.597108  -3.701546   67.000000  2013.000000
17276  38.524649  -5.221294  360.000000  2005.000000

[17277 rows x 4 columns]

In [181]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)
X_train_i_ohe = X_train_i.drop(['26', '27', '28', '29'], axis=1)
ohe.fit(X_train_i_ohe)

X_train_i_encoded = ohe.transform(X_train_i_ohe)
X_train_i_encoded

X_train_i_encoded_df = pd.DataFrame(X_train_i_encoded)
X_train_i_encoded_df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40306,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40307,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40308,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40309,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40310,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [175]:
X_train_i_encoded = ohe.transform(X_train_i_ohe)
X_train_i_encoded

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [176]:
X_train_i_encoded_df = pd.DataFrame(X_train_i_encoded)
X_train_i_encoded_df

,0,1,2,3,4,5,6,7,8,9,...,250,251,252,253,254,255,256,257,258,259
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40306,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40307,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40308,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40309,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40310,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [182]:
X_test_i_ohe = X_test_i.drop(['26', '27', '28', '29'], axis=1)

X_test_i_encoded = ohe.transform(X_test_i_ohe)
X_test_i_encoded

X_test_i_encoded_df = pd.DataFrame(X_test_i_encoded)
X_test_i_encoded_df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17273,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17274,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17275,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17276,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

# Baseline - Dummy Model

In [29]:
baseline = y_train.value_counts(normalize=True)

In [31]:
accuracy = baseline[0]
accuracy

0.6131328917665153

**Our chosen metric however will be precision as we are more concerned with false positives (water wells that are predicted to be functional when they actual do not provide any water) than false negatives.**

# Rough Modeling

In [194]:
from sklearn.preprocessing import normalize
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import log_loss
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import roc_auc_score, plot_roc_curve
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV

In [197]:
ss = StandardScaler()
X_train_i_sc = ss.fit_transform(X_train_i)
X_test_i_sc = ss.transform(X_test_i)

### Model

In [206]:
from sklearn.metrics import make_scorer

In [207]:
scorer = make_scorer(precision_score, pos_col=0)

In [208]:
logreg = LogisticRegression(random_state=33)
logreg.fit(X_test_i_sc, y_test)

LogisticRegression(random_state=33)

There does not seem to be class imbalance

In [218]:
y_test_pred = logreg.predict(X_test_i_sc)
precision_score(y_test, y_test_pred, pos_label=0)

0.7326322762275399

In [210]:
param_grid = {
    'C': [0.1, 1, 10, 100, 1000], 
    'solver' : ['lbfgs', 'liblinear', 'sag', 'saga'],
    'max_iter' : [100, 1000, 10000],    
}
clf = GridSearchCV(logreg, param_grid, cv=5)

In [211]:
clf.fit(X_train_i_sc, y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(random_state=33),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'max_iter': [100, 1000, 10000],
                         'solver': ['lbfgs', 'liblinear', 'sag', 'saga']})

In [212]:
print(clf.best_params_)

{'C': 10, 'max_iter': 100, 'solver': 'lbfgs'}

In [213]:
logreg2 = LogisticRegression(random_state=33, C = 10, max_iter = 100, solver= 'lbfgs' )
logreg2.fit(X_train_i_sc, y_train)

LogisticRegression(C=10, random_state=33)

### Cross Validate

In [216]:
cv_results = cross_val_score(estimator=logreg2, X=X_train_i_sc, y=y_train, cv=5, scoring='precision')
cv_results

array([0.65908115, 0.66203704, 0.68056146, 0.63996731, 0.67297762])

In [219]:
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.73      0.83      0.78     10604
           1       0.66      0.52      0.58      6673

    accuracy                           0.71     17277
   macro avg       0.70      0.68      0.68     17277
weighted avg       0.71      0.71      0.70     17277

### ROC-AUC Test Set

In [221]:
from sklearn.metrics import roc_auc_score, plot_roc_curve

In [223]:
probas = logreg2.predict_proba(X_test_i_sc)[:, 1]
probas

array([0.41466912, 0.08664334, 0.13053939, ..., 0.23870668, 0.153766  ,
       0.30019563])

In [224]:
roc_auc_score(y_test, probas)

0.7604958710575387

### INFERENTIAL MODELING - 'Installer', 'Funder' & 'Extraction Type'

**Train/Test Split - Inferential**

In [66]:
X = df[['installer', 'funder', 'extraction_type_class']]
y = df['status_group']

X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X, y, random_state=33, test_size=0.3)

In [67]:
X_train_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40311 entries, 47965 to 24302
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   installer              37223 non-null  float64
 1   funder                 37233 non-null  float64
 2   extraction_type_class  36023 non-null  float64
dtypes: float64(3)
memory usage: 1.2 MB

In [68]:
X_train_2_i = imputer.fit(X_train_2, cat_vars=[0, 1, 2])
X_train_2_i = imputer.transform(X_train_2)

Iteration: 0
Iteration: 1

In [69]:
X_test_2_i = imputer.transform(X_test_2)

Iteration: 0
Iteration: 1

In [70]:
logreg2 = LogisticRegression(random_state=33)
logreg2.fit(X_train_2_i, y_train_2)

LogisticRegression(random_state=33)

In [71]:
logreg2.predict(X_test_2_i)

array([0, 0, 0, ..., 0, 0, 0])

In [59]:
precision_score(y_test_2, logreg2.predict(X_test_2_i))

0.5

In [51]:
param_grid = {
    'C': [0.1, 1, 10, 100, 1000], 
    'solver' : ['lbfgs', 'liblinear', 'sag', 'saga'],
    'max_iter' : [100, 1000, 10000],    
}
clf = GridSearchCV(logreg, param_grid, cv=5)

clf.fit(X_train_i_sc, y_train)

print(clf.best_params_)

{'C': 10, 'max_iter': 100, 'solver': 'lbfgs'}

In [61]:
logreg_t = LogisticRegression(C=10, max_iter=100, solver='lbfgs', random_state=33)
logreg_t.fit(X_train_2_i, y_train_2)

LogisticRegression(C=10, random_state=33)

In [62]:
#Tree with tuned parameters
cv_results = cross_val_score(estimator=logreg3, X=X_train_2_i, y=y_train_2, cv=5, scoring='precision')
cv_results

/Users/jf/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([0.        , 0.        , 0.        , 0.        , 0.42857143])

In [64]:
scores = cross_val_score(logreg_t, X_train_2_i, y_train_2, cv=5, scoring='precision')
scores

/Users/jf/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([0.        , 0.        , 0.        , 0.        , 0.42857143])